# Configuração do Servidor
PORT=3000
NODE_ENV=development
API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# Configuração do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=digital_store_db
DB_NAME_TEST=digital_store_test

# Autenticação (JWT)
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Cloudinary
CLOUDINARY_CLOUD_NAME=nome_da_api
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=1xxxxxxxxx